:root {
  --black: #383838;
  --white: #FCFCFA;
  --pink: #D360A0;
  --gelb: #FDEB16;
  --teal: #166369;
}

// -------------------------------------------------------------------------
// MOBILE VIEW

body {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-family: 'Roboto Mono', monospace;
  background-color: var(--white);
  color: var(--black);
  overflow-x: hidden;
}

a {
  color: var(--pink);
  text-decoration: none;
  font-size: 1rem;

  &:hover{
    color: var(--gelb);
  }
}

svg{
  width: 0px;
  height: 0px;
}


aside {
  display: block;
  min-height: 40vh;
  background-color: var(--black);
  color: var(--white);

  .aside-wrapper{
    margin: 0;
    padding: 3rem;

    img {
      border-radius: 50%;
      width: 40%;
    }
    .logo img{
      border-radius: 0;
      width: 65%;
      margin: 3rem 0 4rem;
    }
    #footer{
      margin-top: 4rem;
      a{
        color: var(--white);
      }
    }
  }
}

nav{
  grid-area: nav;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 5;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--white);
    padding: 0;
  }

  li {
    display: inline;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;

    &.active {
      color: var(--teal);
      text-shadow: 0 0;
    }
  }
}


main {
  background-color: var(--white);
  display: block;
  min-height: 70vh;
  width: 100%;

  img{
    object-fit: cover;
  }

  #artwork{

    .artwork-wrapper{
      width: 100vw;
      height: 100vw;
      margin: 3rem 0;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
    .text{
      display: none;
    }
  }

  #print{

    div{
      background-color: var(--teal);
      padding: 1rem;
      margin: 2rem 1rem;

      &:nth-child(odd) h3{
        color: var(--pink);
      }
      &:nth-child(even) h3{
        color: var(--gelb);
      }
      p{
        padding: 2rem 0;
        font-weight: 300;
        color: var(--white);
      }
      span {
        color: var(--white);
        font-size: 1.1rem;
      }
    }
    h3{
      margin-bottom: 1rem;
      font-size: 3rem;
      font-weight: 700;
      text-shadow: 2px 2px var(--black);
    }
    .tag {
      word-wrap: break-word;

      span{
        padding-right: 2rem;
        font-weight: 300;
        font-size: 0.8rem;
        color: var(--white);
      }
    }
  }
}

img.clipped{
  display: none;
}
div.clipped{
  display: none;
}
.svg{
  display: none;
}



// -------------------------------------------------------------------------
// DISPLAY VIEW

@media only screen and (min-width: 800px) {

// DEFAULT-------------
  body{
    font-size: 16px;
  }

  a{
    font-size: 1.5rem;
  }

#app{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10vh 90vh;
  grid-template-areas:
    "aside nav"
    "aside main";
}

// ASIDE------------

aside{
  grid-area: aside;
  background-color: var(--black);
  color:var(--white);

  .aside-wrapper{
    margin-top: 10rem;
    position: sticky;
    top: 0;

    img{
      width: 60%;
    }

    .logo img{
      width: 80%;
      margin: 3rem 0 4rem;
    }
  }

  #footer {
    width: 100%;
    margin-top: 8rem;

    a{
      color: var(--white);
      font-size: 1rem;
      color: var(--white);
    }
  }
}

// MAIN-------

main{
  grid-area: main;
  background-color: var(--white);
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-auto-rows: auto;
  overflow-y: scroll;
  grid-template-areas:
  ". wrapper .";

  #print{
    grid-area: wrapper;

    >div {
      margin: 7rem 0rem 13rem;
      padding: 1rem 0 1rem 7rem;
      box-shadow: 10px 10px  #093F43;
      position: relative;
      min-height: 330px;

      &:nth-child(odd) h3{
        color: var(--pink);
      }

      &:nth-child(even) h3{
        color: var(--gelb);
      }

      &:nth-child(odd):hover .clipped {
        background-color: var(--pink);
      }

      &:nth-child(even):hover .clipped {
        background-color: var(--gelb);
      }

      h3 {
        margin-bottom: 1rem;
        font-size: 3rem;
        font-weight: 700;
        text-shadow: 2px 2px var(--black);
      }

      span {
        font-weight: 600;
        color: var(--white);
      }

      p {
        padding: 1rem 20rem 0 0;
        font-weight: 300;
        color: var(--white);
      }

      div{
         margin: 0 0;
        padding: 0 0;

        &.tag {
          padding: 2rem 5rem 1rem;
          margin: 0 0;

          span{
            font-size: 1rem;
          }
        }
      }

      .svg {
         display: block;
        position: absolute;
        width: 0;
        height: 0;
      }
    }
  }

  #artwork{
    grid-area: wrapper;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 4rem;

    .artwork-wrapper{
      width: 19vw;
      height: 19vw;
      position: relative;
      margin: 0;

      .overlay{
        display: none;
      }

      &:hover{
        .overlay{
          display: flex;
          width: 100%;
          height: 100%;
          background-color: rgba(56, 56, 56, 0.7);
          position: absolute;
          top: 0;
          left: 0;
          align-items: center;
          justify-content: center;
        }

        .text{
          display: block;
          font-weight: 600;
          font-size: 2rem;
          color: var(--gelb);
          text-align: center;
          text-transform: uppercase;
          z-index: 10;
        }
      }
    }
  }

  section img {
    width: 100px;
    height: 100px;
  }
}

// CLIP PATH-----------
  .clipped {
    width: 430px;
    height: 430px;
    background-size: cover;
    -webkit-clip-path: url(#my-clip-path);
    clip-path: url(#my-clip-path);
    position: absolute;
    top: -50px;
    right: -200px;
    z-index: 0;
  }

  #print div.clipped {
    display: block;
    width: 460px;
    height: 460px;
    top: -65px;
    right: -215px;
    background-color: var(--white);
    z-index: 0;
  }

  #dot {
    fill: var(--pink);
  }
  
  #print img.clipped{
    display: block;
  }
}