<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>kat space</title>
    <meta
      name="description"
      content="Kat, Grafikdesignerin aus Dresden."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./site.webmanifest" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500;700&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div id="app">
      <aside>
        <div>
          <picture>
            <img src="./img/kat.jpg" alt="Portrait photo of Kat" />
          </picture>
          <picture class="logo">
            <img src="./img/logo.svg">
          </picture>
          <h1>Hey! Ich bin Kat</h1>
          <p>Medieninformatikerin mit Hang zum Gestalten und einer großen Protion Kreativität.</p>
          <a href="./Portfolio.pdf" target="_blank">
            <p>Portfolio</p>
          </a>
          <div id="footer">
            <a href="imprint.html" target="_blank">imprint</a>
          </div>
        </div>
      </aside>

      <main>
        <nav>
          <ul>
            <li v-on:click="switchContent('print')" :class="currentVisibleContent == 'print' ? 'active' : ''">PRINT</li>
            <li v-on:click="switchContent('artwork') " :class="currentVisibleContent == 'artwork' ? 'active' : ''">ARTWORK</li>
          </ul>
        </nav>
        <section v-if="currentVisibleContent == 'print'" id="print">
          <div v-for="item in print">
            <h3>{{ item.title }}</h3>
            <span>{{item.client}}</span>
            <p>{{item.description}}</p>
            <img class="clipped" :src="printImages[item.id]"/>
            <div class="clipped"></div>
            <div class="tag">
              <span v-for="tag in item.tags">{{ tag }}</span>
            </div>
          </div>
        </section>
        <section v-if="currentVisibleContent == 'artwork'" id="artwork">
          <div class="artwork-wrapper" v-for="item in artwork">
            <img :src="artworkImages[item.id]"/>
            <div class="overlay">
            <p class="text">{{ item.text}}</p></div>
          </div>
        </section>
      </main>
    </div>
    <script src="./js/app.js"></script>
  </body>
</html>
